# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Eclipse files
.metadata/
bin/

# Maven build directory
target/

# Gradle build directory
build/

# IntelliJ project-specific files
out/
.idea_modules/

# Eclipse project-specific files
.classpath
.project
.settings/
